@using KitapKiralama.Entity.Poco;

@model IEnumerable<Kitap>


@if(TempData["basarili"] !=null)
{
    <h2 style="color:red">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
        <h1> Kitaplar </h1>
        </div>
    </div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Resim
        </th>
        <th>
            Id
        </th>
        <th>
            Kitap Adı
        </th>
         <th>
            Tanım
        </th>
        <th>
            Yazar
        </th>
        <th>
            Fiyat
        </th>
         <th>
            Kitap Türü
        </th>
@* @if (User.IsInRole(UserRoles.Role_Admin))
 { *@

        <th>

        </th>
        <th>

        </th>
 @* } *@
    </tr>
    </thead>
    <tbody>
        @foreach (var kitap in Model)
        {
            <tr>
                    <td align="center" valign="middle"> <img class="border border-primary img-thumbnail" src="@kitap.ResimUrl" style=" max-width:50%; max-height:50%;" /></td>
                <td>@kitap.Id</td>
                <td>@kitap.KitapAdi</td>
                <td>@kitap.Tanim</td>
                <td>@kitap.Yazar</td>
                <td>@kitap.Fiyat</td>
                <td>@kitap.KitapTuru.Ad</td>
                   @*  @if (User.IsInRole(UserRoles.Role_Admin))
                    { *@
                <td>
                    <a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@kitap.Id" type= "button" class="btn btn-success" style="width:%100"height:%100">Güncelle</a>
                </td>
                <td>
                    <a asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id" type="button" class="btn btn-danger" style="width:%100"height:%100">Sil</a>
                </td>
                    @* } *@
            </tr>
        }
    </tbody>
</table>
@* @if (User.IsInRole(UserRoles.Role_Admin))
 { *@

<div class="row pt-3 pb-2">
    <div>
            <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
                Yeni Kitap Oluştur
            </a>
    </div>
</div>

 @* } *@
</div>
